@import "../../styles/variables/variables.scss";

.mainSection__container {
  padding: 0 10px;
  height: 100vh;

  @media screen and (min-width: 768px) {
    padding: 0 29px;
  }

  @media screen and (min-width: 768px) {
    padding: 0 52px;
  }
}
