@import "../../styles/variables/variables.scss";

.add {
  position: sticky;
  bottom:55%;
  left: 113%;
  border: 2px solid $add-btn-color;
  width: 52px;
  height: 52px;
  border-radius: 30px;
  box-shadow: 0px 4px 10px $add-btn-shadow-color;
  align-items: center;
  justify-content: center;
  background-color: $add-btn-color;
}

.completed {
  cursor: pointer;
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  font-size: $main-font-size;
  line-height: $main-font-height;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: $main-letter-spacing;
  color: $accent-color;
}

.edit {
  cursor: pointer;
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  font-size: $main-font-size;
  line-height: $main-font-height;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: $main-letter-spacing;
  color: $accent-color;
  padding-left: 5px;
  margin-left: 5px;
}

.toggleComplete{
cursor: pointer;
font-family: $main-font-family;
font-weight: $main-font-weight;
font-size: $main-font-size;
line-height: $main-line-height;
text-decoration-line: underline;
color: $accent-color;
}
