.clear{
    width: 10px;
    height: 10px;
}


.dropdown-arrow{
    width:8px;
    height:4px;
    margin-left: 5px;
}

.plus{
    width: 15px;
    height: 15px;

}

.calendar{
    width:10px;
}

.save {
    width: 10px;
    height: 10px;
}

.done{
    width: 10px;
    height: 10px;
}