$main-font-family:'HelveticaNeueCyr';

//main text styles
$main-text-color:#B9C3C8;
$main-font-weight:400;
$main-font-size:16px;
$main-font-height:16px;
$main-letter-spacing: 0.02em;
$main-line-height:12px;



//accent text styles
$accent-text-color:#282828;
$accent-font-weight:700;
$accent-font-size:20px;
$accent-font-height:20px;
$accent-letter-spacing: 0.02em;





//other styles
$main-bg-color:#F2F3F7;
$header-bg-color:#242A37;
$task-card-bg-color:#FFFFFF;
$challenge-card-bg-color:#15395A;

$accent-color:#00D7FF;



$hard-dot-color:#DB0837;
$normal-dot-color:#24D40C;
$easy-dot-color:#00D7FF;

$health-dot-color:#07cdf5;
$family-dot-color:#f76d04;
$learning-dot-color:#fcd705;
$leisure-dot-color:#d900ff;
$work-dot-color:#0080c0;



$add-btn-color:#ff851c;
$add-btn-shadow-color:rgba(252, 132, 45, 0.5);

